* {
  font-family: 'Nunito', sans-serif;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}

.Header{
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  align-items: center;
  background-color: #283444;
  justify-content: space-between;
}

.Header__logo {
  width: 100px;
  height: 25px;
}

.Header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Header__nav--usuario  {
  display: none;
}

.Header__nav--usuario a {
  color: #64DCFC;
  transition: all 0.2s;
}

.Header__nav a:hover {
  color: #f0e8e8;
  transform: scale(1.05);
}

.btn-link {
  border: none;
  cursor: pointer;
  background: none;
  color: #DEDEDE;
  font-size: large;
}

.Header__MenuUsuario:hover > .Header__nav--usuario {
  display: grid;
  position: absolute;
  right: 25px;
  padding: 10px;
  row-gap: 10px;
  border-radius: 8px;
  background-color:#283444;
  box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.8);
}

.Header__nav--hamburguesa {
  /* display: none; */
  top: 0;
  left: -1000px;
  width: 100px;
  display: grid;
  row-gap: 25px;
  height: 100vh;
  padding: 25px;
  position: absolute;
  background: #283444;
  /* justify-items: center; */
  align-content: flex-start;
  box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.8);
  transition: all 0.5s;
}

.Header__nav--hamburguesa a {
  color: #64DCFC;
  transition: all 0.2s;
}

.Header__nav--hamburguesa a:hover {
  color: #f0e8e8;
  transform: scale(1.05);
}

.Header__MenuHamburguesa--cerrar {
  top: 10px;
  left: 110px;
  z-index: -1;
  position: absolute;
  /* display: none; */
  transition: all 0.2s;
  opacity: 0;
}

.Header__MenuHamburguesa--cerrar:hover {
  transform: scale(1.05);
}

.Header__MenuHamburguesa:hover > .Header__nav--hamburguesa {
  left: 0px;
}

.Header__MenuHamburguesa:hover > .Header__MenuHamburguesa--cerrar {
  opacity: 1;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .Header {
    justify-content: flex-start;
  }
  .btn-menu-usuario {
    display: none;
  }

  .Header__nav--usuario {
    top: 43px;
    right: 25px;
    display: flex;
    border-radius: 0;
    background-color: none;
    box-shadow: none;
    position: absolute;
  }

  .Header__nav--usuario a {
    padding: 0 15px;
  }

  .Header__MenuUsuario:hover > .Header__nav--usuario {
    /* top: 43px;
    right: 25px; */
    display: flex;
    border-radius: 0;
    background-color: none;
    box-shadow: none;
    position: absolute;
  }
}


.form-control {
  border-radius: 8px;
  background: #fdfcfc;
  box-shadow:  0 .125rem .25rem #0000001a;
  display: grid;
  width: 320px;
  margin: 0 auto;
  padding: 25px;
  align-items: center;
  row-gap: 10px;
}

.form-title {
  margin: 0;
}

.form-input {
  padding: 10px;
  border-radius: 6px;
  width: 300px;
  border: 1px solid #0000001e;
}

.form-btn {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color:#283444;
  color: #fdfcfc;
  font-weight: bold;
  transition: all 0.2s;
}

.form-btn:hover {
  transform: translateY(-2px);
}

.user-data {
  width: 320px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #B40404;
  border-radius: 8px;
  box-shadow:  0 .125rem .25rem #0000001a;
  padding: 5px 25px;
  color: #fdfcfc;
  font-weight: bold;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.8s;
}

.user-data.active {
  opacity: 1;
}

.user-data i {
  padding-right: 8px;
}