.Hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
}

.Hero__titles {
  display: grid;
  gap: 15px;
}

.Hero__images {
  display: grid;
  justify-items: flex-end;
}
